#Importação de bibliotecas e arquivos

In [ ]:
#importando bibliotecas
import matplotlib.pyplot as plt
import pandas as pd
import datetime as dt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import *
from google.colab import drive
import numpy as np

#montando o drive
drive.mount('/content/drive')

#importando tabela completa emissora 1
data = pd.read_csv("/content/drive/Shareddrives/hefEStos: arquivo X/Modelos (X)/DadosTratadosX.csv", sep = ',')
data = data.drop(['Unnamed: 0'], axis=1)
data[data['Feriado']== 1]
data.columns

Mounted at /content/drive

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:3326: DtypeWarning: Columns (30) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

Index(['Hora Início', 'Total Domicílios | Rat%', 'AB | Rat%', 'C1 | Rat%',
       'C2 | Rat%', 'DE | Rat%', 'Masculino | Rat%', 'Feminino | Rat%',
       '4-11 anos | Rat%', '12-17 anos | Rat%', '18-24 anos | Rat%',
       '25-34 anos | Rat%', '35-49 anos | Rat%', '50-59 anos | Rat%',
       '60+ anos | Rat%', 'Total Domicílios | Shr%', 'AB | Shr%', 'C1 | Shr%',
       'C2 | Shr%', 'DE | Shr%', 'Masculino | Shr%', 'Feminino | Shr%',
       '4-11 anos | Shr%', '12-17 anos | Shr%', '18-24 anos | Shr%',
       '25-34 anos | Shr%', '35-49 anos | Shr%', '50-59 anos | Shr%',
       '60+ anos | Shr%', 'Total Indivíduos | Fid%', 'AB | Fid%', 'C1 | Fid%',
       'C2 | Fid%', 'DE | Fid%', 'Masculino | Fid%', 'Feminino | Fid%',
       '4-11 anos | Fid%', '12-17 anos | Fid%', '18-24 anos | Fid%',
       '25-34 anos | Fid%', '35-49 anos | Fid%', '50-59 anos | Fid%',
       '60+ anos | Fid%', 'Feriado', 'Categoria_37', 'Categoria_38',
       'Categoria_1', 'Categoria_10', 'Categoria_11', 'Categoria_12',
       'Categoria_13', 'Categoria_14', 'Categoria_15', 'Categoria_16',
       'Categoria_17', 'Categoria_18', 'Categoria_19', 'Categoria_2',
       'Categoria_20', 'Categoria_21', 'Categoria_22', 'Categoria_23',
       'Categoria_24', 'Categoria_25', 'Categoria_26', 'Categoria_27',
       'Categoria_28', 'Categoria_29', 'Categoria_3', 'Categoria_30',
       'Categoria_31', 'Categoria_32', 'Categoria_33', 'Categoria_34',
       'Categoria_35', 'Categoria_36', 'Categoria_39', 'Categoria_4',
       'Categoria_40', 'Categoria_41', 'Categoria_42', 'Categoria_5',
       'Categoria_6', 'Categoria_7', 'Categoria_8', 'Categoria_9', 'Dia',
       'Mes', 'Ano', 'Dia da Semana_Domingo', 'Dia da Semana_Quarta',
       'Dia da Semana_Quinta', 'Dia da Semana_Segunda', 'Dia da Semana_Sexta',
       'Dia da Semana_Sábado', 'Dia da Semana_Terça'],
      dtype='object')

#Definição e remoção do output desejado

In [ ]:
#Definição de output
y = data[['Total Domicílios | Rat%', 'Total Domicílios | Shr%']]

#Remoção do output desejado
data.drop(['Total Domicílios | Rat%'], axis=1, inplace=True)
data.drop(['Total Indivíduos | Fid%'], axis=1, inplace=True)
data.drop(['Total Domicílios | Shr%'], axis=1, inplace=True)
data.drop(['Masculino | Rat%'], axis=1, inplace=True)
data.drop(['Masculino | Fid%'], axis=1, inplace=True)
data.drop(['Masculino | Shr%'], axis=1, inplace=True)
data.drop(['Feminino | Rat%'], axis=1, inplace=True)
data.drop(['Feminino | Fid%'], axis=1, inplace=True)
data.drop(['Feminino | Shr%'], axis=1, inplace=True)
data.drop(['AB | Rat%'], axis=1, inplace=True)
data.drop(['AB | Fid%'], axis=1, inplace=True)
data.drop(['AB | Shr%'], axis=1, inplace=True)
data.drop(['C1 | Rat%'], axis=1, inplace=True)
data.drop(['C1 | Fid%'], axis=1, inplace=True)
data.drop(['C1 | Shr%'], axis=1, inplace=True)
data.drop(['C2 | Rat%'], axis=1, inplace=True)
data.drop(['C2 | Fid%'], axis=1, inplace=True)
data.drop(['C2 | Shr%'], axis=1, inplace=True)
data.drop(['DE | Rat%'], axis=1, inplace=True)
data.drop(['DE | Fid%'], axis=1, inplace=True)
data.drop(['DE | Shr%'], axis=1, inplace=True)
data.drop(['4-11 anos | Rat%'], axis=1, inplace=True)
data.drop(['4-11 anos | Fid%'], axis=1, inplace=True)
data.drop(['4-11 anos | Shr%'], axis=1, inplace=True)
data.drop(['12-17 anos | Rat%'], axis=1, inplace=True)
data.drop(['12-17 anos | Fid%'], axis=1, inplace=True)
data.drop(['12-17 anos | Shr%'], axis=1, inplace=True)
data.drop(['18-24 anos | Rat%'], axis=1, inplace=True)
data.drop(['18-24 anos | Fid%'], axis=1, inplace=True)
data.drop(['18-24 anos | Shr%'], axis=1, inplace=True)
data.drop(['25-34 anos | Rat%'], axis=1, inplace=True)
data.drop(['25-34 anos | Fid%'], axis=1, inplace=True)
data.drop(['25-34 anos | Shr%'], axis=1, inplace=True)
data.drop(['35-49 anos | Rat%'], axis=1, inplace=True)
data.drop(['35-49 anos | Fid%'], axis=1, inplace=True)
data.drop(['35-49 anos | Shr%'], axis=1, inplace=True)
data.drop(['50-59 anos | Rat%'], axis=1, inplace=True)
data.drop(['50-59 anos | Fid%'], axis=1, inplace=True)
data.drop(['50-59 anos | Shr%'], axis=1, inplace=True)
data.drop(['60+ anos | Rat%'], axis=1, inplace=True)
data.drop(['60+ anos | Fid%'], axis=1, inplace=True)
data.drop(['60+ anos | Shr%'], axis=1, inplace=True)
x = data

#Regressão linear

In [ ]:
#dividindo treino e teste
x_train, x_test, y_train, y_test = train_test_split(x,y, test_size = 0.15,  random_state = 100000)

In [ ]:
#treinamento do modelo
model = LinearRegression().fit(x_train,y_train)

In [ ]:
#Definição do input
x_test

,Hora Início,Feriado,Categoria_37,Categoria_38,Categoria_1,Categoria_10,Categoria_11,Categoria_12,Categoria_13,Categoria_14,...,Dia,Mes,Ano,Dia da Semana_Domingo,Dia da Semana_Quarta,Dia da Semana_Quinta,Dia da Semana_Segunda,Dia da Semana_Sexta,Dia da Semana_Sábado,Dia da Semana_Terça
333499,29.583333,0,0,0,0,1,0,0,0,0,...,3.0,3.0,2018.0,0,0,0,0,0,1,0
775952,12.666667,0,0,0,0,0,0,0,0,1,...,18.0,5.0,2022.0,0,1,0,0,0,0,0
142701,17.750000,0,0,0,0,0,0,0,0,0,...,10.0,5.0,2016.0,0,0,0,0,0,0,1
96565,13.083333,0,0,0,0,0,0,0,0,0,...,2.0,12.0,2015.0,0,1,0,0,0,0,0
434315,6.916667,0,0,0,0,0,0,0,0,0,...,17.0,2.0,2019.0,1,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
238068,21.000000,0,0,0,0,0,0,0,0,1,...,6.0,4.0,2017.0,0,0,1,0,0,0,0
488919,21.250000,0,0,0,0,0,0,0,0,0,...,25.0,8.0,2019.0,1,0,0,0,0,0,0
404502,18.500000,0,0,0,0,0,0,0,0,0,...,5.0,11.0,2018.0,0,0,0,1,0,0,0
108885,7.750000,0,0,0,0,0,0,0,0,1,...,14.0,1.0,2016.0,0,0,1,0,0,0,0
381263,25.916667,0,0,0,0,0,0,0,0,0,...,16.0,8.0,2018.0,0,0,1,0,0,0,0

In [ ]:
# Definição dos outputs
y_test

        Total Domicílios | Rat%  Total Domicílios | Shr%
333499                     3.10                    42.61
775952                    16.76                    39.75
142701                    15.76                    40.60
96565                     15.38                    34.94
434315                     6.79                    41.83
...                         ...                      ...
238068                    26.05                    43.23
488919                    20.03                    34.86
404502                    22.56                    34.69
108885                     6.50                    40.93
381263                     4.73                    40.69

[118282 rows x 2 columns]

In [ ]:
#Predição usando a regressão linear
y_pred = model.predict(x_test)
y_pred
print(y_pred)
print(np.std(y_pred))

[[ 6.36529065 34.14752963]
 [ 9.11336824 32.17191324]
 [23.53521672 46.39346017]
 ...
 [11.78250216 34.34793779]
 [12.8457416  42.9890819 ]
 [ 9.92601639 32.42961342]]
13.03515382415748

In [ ]:
# R quadrado do teste
r2_score(y_test, y_pred)

0.36295387037658366

In [ ]:
#Predição usando a regressão linear
y_pred_train = model.predict(x_train)

In [ ]:
# R quadrado do treino
r2_score(y_train, y_pred_train)

0.3632167856007661

In [ ]:
#erro médio absoluto
from sklearn.metrics import mean_absolute_error
mean_absolute_error(y_test, y_pred)

5.926775570156252

In [ ]:
#erro médio quadrático
from sklearn.metrics import mean_squared_error
mean_squared_error(y_test, y_pred)

61.43205686053484

# Modelo com as amostras

In [ ]:
#Importação das amostras
amostrinha = pd.read_csv('/content/drive/Shareddrives/hefEStos: arquivo X/Dados - arquivo x/amostraparadesvio3.csv')
amostrinha = amostrinha.iloc[: , 1:]

In [ ]:
#Definição e remoção dos outputs
y_real = amostrinha['Total Domicílios | Rat%']
amostrinha = amostrinha.drop(['Total Domicílios | Rat%'], axis=1)
amostrinha

,Hora Início,Feriado,Categoria_37,Categoria_38,Categoria_1,Categoria_10,Categoria_11,Categoria_12,Categoria_13,Categoria_14,...,Dia,Mes,Ano,Dia da Semana_Domingo,Dia da Semana_Quarta,Dia da Semana_Quinta,Dia da Semana_Segunda,Dia da Semana_Sexta,Dia da Semana_Sábado,Dia da Semana_Terça
0,9.250000,0,0,0,0,0,0,0,0,0,...,16.0,8.0,2020.0,1,0,0,0,0,0,0
1,9.083333,0,0,0,0,0,0,0,0,0,...,1.0,3.0,2017.0,0,1,0,0,0,0,0
2,12.583333,0,0,0,0,0,0,0,0,1,...,23.0,4.0,2020.0,0,0,1,0,0,0,0
3,7.750000,0,0,0,0,0,0,0,0,1,...,30.0,8.0,2021.0,0,0,0,1,0,0,0
4,15.750000,0,0,0,0,1,0,0,0,0,...,20.0,12.0,2017.0,0,1,0,0,0,0,0
5,9.750000,0,0,0,0,0,0,0,0,0,...,2.0,2.0,2021.0,0,0,0,0,0,0,1
6,22.750000,0,0,0,0,0,0,0,0,0,...,4.0,2.0,2018.0,1,0,0,0,0,0,0
7,6.833333,0,0,0,0,0,0,0,0,1,...,10.0,1.0,2022.0,0,0,0,1,0,0,0
8,19.750000,0,0,0,1,0,0,0,0,0,...,1.0,2.0,2015.0,1,0,0,0,0,0,0
9,12.416667,0,0,0,0,0,0,0,0,1,...,27.0,1.0,2020.0,0,0,0,1,0,0,0

In [ ]:
#Predição do modelo a partir das amostras
y_pred = model.predict(amostrinha)
y_pred
print(y_pred)
print('Desvio padrão: ', np.std(y_pred))

[[ 7.24678617 37.34271689]
 [ 6.56342575 28.20075899]
 [10.28999135 35.81747348]
 [11.35411353 35.64701436]
 [ 7.89983288 33.6561478 ]
 [10.73926652 29.42091228]
 [11.83449782 33.60770048]
 [11.08374362 35.96552931]
 [12.66398024 33.795089  ]
 [11.44742663 38.55506553]]
Desvio padrão:  12.323696147634744

In [ ]:
#Comparação predição e amostras
y_pred = pd.DataFrame(y_pred)
results = {'Real Value': y_real}
df_results = pd.DataFrame(results)
df_results = pd.concat([df_results, y_pred], axis=1)
df_results.rename(columns = {'Real Value':'Valor real | Rat%', 0:'Total domicílios | Rat%', 1:'Total domicílios | Shr%'}, inplace = True)
df_results

   Valor real | Rat%  Total domicílios | Rat%  Total domicílios | Shr%
0               3.54                 7.246786                37.342717
1               7.98                 6.563426                28.200759
2              15.26                10.289991                35.817473
3               8.06                11.354114                35.647014
4              10.69                 7.899833                33.656148
5               5.74                10.739267                29.420912
6              23.90                11.834498                33.607700
7               4.75                11.083744                35.965529
8              12.38                12.663980                33.795089
9              17.29                11.447427                38.555066

In [ ]:
#Criação de CSV para a comapração de modelos
df_results.to_csv('/content/drive/Shareddrives/hefEStos: arquivo X/Comparação de modelos/csv/amostra_linear.csv')